body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #664b58, #7710dd);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI';
}

.app {
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  color: white;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li:hover {
  transform: scale(1.03);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.filters {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}